body {
    background-image: url("/static/perlin.png");
    backdrop-filter: sepia(20%);
    background-size: 100px;
    overflow: hidden;
    font-family: "Chelsea Market";
    background-color: #ff00ff;
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    width: 100vw;
    background-color: #00ff0080;
    backdrop-filter: blur(1.5em);
    color: red;
    padding: 1em;
    animation: marquee 5s linear infinite;
    white-space: nowrap;
    border: 5px dotted yellow;
    box-shadow: 0 0 20px red;
    text-align: center;
}

@keyframes marquee {
    0% {
        transform: translate(100vw, 100vh) rotate(90deg);
    }

    100% {
        transform: translate(-100%, -100%);
    }
}


div > p {
    margin-block: 0;
}

div > p > a {
    color: green;
}

.netscape-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    padding: 1em;
}
