body {
    background-image: url("/static/perlin.png");
    background-size: 100px;
    overflow: hidden;
    font-family: "Chelsea Market";
    background-color: #ff00ff;
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    width: 100vw;
    background-color: lime;
    color: red;
    padding: 1em;
    animation: marquee 5s linear infinite;
    white-space: nowrap;
    border: 5px dotted yellow;
    box-shadow: 0 0 20px red;
    text-align: center;
}

@keyframes marquee {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

div > p {
    margin-block: 0;
}

div > p > a {
    color: green;
}

.netscape-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    padding: 1em;
}
